@font-face {
  font-family: 'Onest';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("./../fonts/Onest-Regular.woff") format('woff'),
    url("./../fonts/Onest-Regular.ttf") format('ttf')
}
@font-face {
  font-family: 'Onest';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("./../fonts/Onest-Medium.woff") format('woff'),
    url("./../fonts/Onest-Medium.ttf") format('ttf')
}